@page "/Users/Activity"

@attribute [Authorize(Policy = "Admin")]
@inject NavigationManager Navigation

@inject IStringLocalizer<App> Localizer

<h1><span class="@FontAwesome.User"/> Activity</h1>

@code {

}
