@inject IStringLocalizer<App> Localizer

<div class="alert alert-info mt-3">
    <span class="fa fa-exclamation" />@Localizer[Label]
</div>

@code {
    [Parameter] public string Label { get; set; } = "ActionInProgress";
}
