@inject IStringLocalizer<App> Localizer

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer[Title]</h4>
                <button type="button" @onclick="ModalCancel" class="close">&times;</button>
            </div>
            <div class="modal-body">
                <p>@Localizer[Text]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" @onclick="ModalCancel">@Localizer["Cancel"]</button>
                <button type="button" class="btn btn-primary btn-sm" @onclick="ModalOk">OK</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Title";
    [Parameter] public string Text { get; set; } = "Text";
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }
}