@if (DocumentId.HasValue)
{
    <a href="documents/@DocumentId.Value"><img src="@ImgSrc" class="icon" /></a>
}

@code {
    [Parameter] public int? DocumentId { get; set; }
    [Parameter] public string? FileExtension { get; set; }

    string ImgSrc => $"images/{FileExtension}.png";
}
