@if (DocumentId.HasValue)
{
    <a target="_blank" href="@Href"><img src="@ImgSrc" class="icon" /></a>
}

@code {
    [Parameter] public int? DocumentId { get; set; }
    [Parameter] public string? FileExtension { get; set; }

    string Href => $"documents/{DocumentId}";
    string ImgSrc => $"images/{FileExtension}.png";
}
