@inject IStringLocalizer<App> Localizer

@typeparam TItem

@if (Item is null)
{

}
else
{
    <EditForm Model="Item" OnValidSubmit="OnValidSubmit" Class="row g-3">
        <FluentValidationValidator/>
        <ValidationSummary/>
        @Inputs
        <div class="col-12">
            <button type="submit" class="btn btn-primary"><span class="fa fa-save" />@Localizer["Save"]</button>
            @Buttons
        </div>
    </EditForm>
}

@code {
    [Parameter] public TItem? Item { get; set; }
    [Parameter] public RenderFragment? Inputs { get; set; }
    [Parameter] public RenderFragment? Buttons { get; set; }

    [Parameter] public EventCallback<EditContext> OnValidSubmit { get; set; }
}
