@inject IStringLocalizer<App> Localizer

@typeparam TItem

@if (Item is null)
{
    <ActionMessage Label="NoRecordsToDisplay" IconName="exclamation-circle" AlertType="warning" />
}
else
{
    <EditForm Model="Item" OnValidSubmit="OnValidSubmit" Class="row g-3">
        <FluentValidationValidator />
        <ValidationSummary />
        @Inputs
        <div class="col-12">
            @if (ShowSaveButton)
            {
                <AppButton Label="Save" IsSubmit="true" />
            }
            @Buttons
        </div>
        @SubInputs
    </EditForm>
}

@code {
    [Parameter] public TItem? Item { get; set; }
    [Parameter] public RenderFragment? Inputs { get; set; }
    [Parameter] public RenderFragment? Buttons { get; set; }
    [Parameter] public RenderFragment? SubInputs { get; set; }
    [Parameter] public EventCallback<EditContext> OnValidSubmit { get; set; }
    [Parameter] public bool ShowSaveButton { get; set; } = true;
}
