@inject IStringLocalizer<App> Localizer
@if (Markdown.HasValue())
{
    <div class="markdown">
        @if (Label.HasValue())
        {
            <h1>@Localizer[Label]</h1>
        }
        <div style="background-color: @BackgroundColor; padding: @Padding">
            @((MarkupString)Html)
        </div>
    </div>
}

@code {
    [Parameter] public string? Markdown { get; set; }
    [Parameter] public string? BackgroundColor { get; set; }
    [Parameter] public string? Label { get; set; }

    string Padding => BackgroundColor.HasValue() ? "5pt" : "0px";

    string Html => new TextContent(Markdown, "md", DateTime.Now).AsHtml;

}
