.background {
    color: white;
}
.errorcard {
    font-size: 7pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
h1 {
    width: 100%;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
}

ul {
    list-style: url('/images/Square.png');
    list-style-position: outside;
}
p {
    padding-left: 10px;
}