.waybill {
    line-height: 12pt;
    font-weight: 600;
}

.emptyreturn {
    stroke: black;
    stroke-width: 0.4px;
    fill: transparent;
    opacity: 0.5;
    position: absolute;
    top: 26mm;
    left: 3mm;
    bottom: 0px;
    right: 0px;
    width: 45mm;
}



.label {
    font-size: 7pt;
    max-height: 9pt;
    line-height: 8pt;
    vertical-align: top;
}

.destination {
    background-color: #FFFFE0;
}

.box {
    height: 11.5mm;
    padding: 1px;
}

    .box.destination {
        border: 2px solid red;
    }

    .box.origin {
        border: 2px solid gray;
    }

.name { /* font-size is set dynamically in code */
    font-weight: bold;
    line-height: 17pt;
    width: 44mm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shipper {
    font-weight: bold;
    font-size: 10pt;
    min-height: 12pt;
    width: 46mm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smaller {
    font-weight: bold;
    font-size: 8pt;
    min-height: 11pt;
}

.flag {
    vertical-align: text-bottom;
    padding-right: 5px;
}

.item {
    font-weight: bold;
    font-size: 10pt;
    min-height: 12pt;
    max-width: 46mm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.instruction {
    font-weight: bold;
    font-size: 7pt;
    line-height: 9pt;
    min-height: 10pt;
}
