.waybill {
    line-height: 12pt;
    font-weight: 600;
}

.label {
    font-size: 7pt;
    max-height: 9pt;
    line-height: 9pt;
    vertical-align: top;
}

.destination {
    background-color: #FFFFE0;
}

.box {
    height: 11mm;
    padding: 1px;
}

    .box.destination {
        border: 2px solid red;
    }

    .box.origin {
        border: 2px solid gray;
    }

.name {
    font-weight: bold;
    line-height: 15pt;
    width: 48mm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shipper {
    font-weight: bold;
    font-size: 11pt;
    min-height: 13pt;
    width: 48mm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flag {
    vertical-align: text-bottom;
    padding-right: 5px;
}

.item {
    font-weight: bold;
    font-size: 11pt;
    min-height: 13pt;
    max-width: 48mm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.instruction {
    font-weight: bold;
    font-size: 9pt;
    line-height: 11pt;
    min-height: 11pt;
}
