@page "/Stations/{id:int}/Edit"
@page "/Stations/{id:int}/Edit/{ownerid:int}"
@page "/Stations/{id:int}/Edit/PersonOwned/{ownerPersonId:int}"
@page "/Stations/{id:int}/Edit/GroupOwned/{ownerGroupId:int}"


@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer
@inject IToastService ToastService
@inject IModuleService ModuleService
@inject IStationService StationService
@inject IPersonService PersonService
@inject IGroupService GroupService

<h1><span class="fa fa-school" /> @Heading</h1>

<EditTemplate Item="Station" OnValidSubmit="OnValidSubmit">
    <Inputs>
        <AppInputSelect Width="3" Label="Module" @bind-Value="ModuleId" Items="ModulesItems" DisplayName="Module" ShowPleaseSelect="true" />
        <AppInputText Width="3" Label="FullName" @bind-Value="Station.FullName" />
        <AppInputText Width="1" Label="Signature" @bind-Value="Station.Signature" />
        <AppInputFill Width="5" />
        <AppInputCheck Width="2" Label="IsEndStation" @bind-Value="Station.IsEnd" />
        <AppInputCheck Width="2" Label="IsShadowStation" @bind-Value="Station.IsShadow" />
        <StationTracksList Station="Station" />
    </Inputs>
</EditTemplate>


@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public int OwnerId { get; set; }
    [Parameter] public int OwnerGroupId { get; set; } 
    [Parameter] public int OwnerPersonId { get; set; } 

    ClaimsPrincipal? Principal;
    object? Owner;
    Station? Station;
    int ModuleId;

    IEnumerable<ListboxItem>? ModulesItems;


    protected override async Task OnInitializedAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        ModulesItems = await ModuleService.ModuleItems(Principal, OwnerRef);
        Station = new Station();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (OwnerRef.IsAny)
        {
            await GetOwner();
        }
        if (Id > 0)
        {
            Station = await StationService.FindByIdAsync(Principal, Id, OwnerRef);
            if (Station is not null) ModuleId = Station.Modules.First().Id;
        }
    }

    private async Task GetOwner() =>
        Owner = OwnerRef.IsGroup ? await GroupService.FindByIdAsync(Principal, OwnerRef.GroupId) : await PersonService.FindByIdAsync(Principal,OwnerRef.PersonId);

    async Task OnValidSubmit()
    {
        if (Station is not null)
        {
            var result = await StationService.SaveAsync(Principal, Station, OwnerRef, ModuleId);
            Station = result.Entity;
            if (Station is not null) ModuleId = Station.Modules.First().Id;
            ToastService.ShowSuccessOrFailure(Localizer, result.Count, result.Message);
        }
    }
    private string Heading => Localizer.HeadingAddOrEdit(Id == 0 && OwnerId == 0, "Station", Owner);

    ModuleOwnershipRef OwnerRef => OwnerGroupId > 0 ? ModuleOwnershipRef.Group(OwnerGroupId) : ModuleOwnershipRef.Person(OwnerPersonId > 0 ? OwnerPersonId : OwnerId);

}
