@page "/reports/waybills/layout/{layoutId:int}"
@page "/reports/waybills/layout/{layoutId:int}/station/{layoutStationId:int}"
@page "/reports/waybills/station/{stationId:int}"
@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject ILanguageService LanguageService
@inject WaybillService WaybillService

@if (Items is null)
{
    <ActionMessage Label="CreatingReport" AlertType="Spinning" />
}
else if (Items.Count() == 0)
{
    <div style="padding: 1cm">
        <ContentView ContentName="NoWaybills" />
    </div>
}
else
{
    @foreach (var itemsPerPage in Items.ItemsPerPage(10))
    {
        <div >
            @foreach (var item in itemsPerPage)
            {
                <WaybillCard Item="@item" LanguageLabels="@LanguageLabels"></WaybillCard>
            }
        </div>
    }
}
@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int StationId { get; set; }
    [Parameter] public int LayoutId { get; set; }
    [Parameter] public int? LayoutStationId { get; set; }

    ClaimsPrincipal? Principal;
    IEnumerable<Waybill>? Items { get; set; }
    IEnumerable<LanguageLabels>? LanguageLabels { get; set; }
    bool IsLoading = false;

    protected override async Task OnInitializedAsync()
    {
        Items = null;
        if (!IsLoading)
        {
            IsLoading = true;
            LanguageLabels = LanguageService.GetWaybillLabels();
            Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
            if (StationId > 0)
            {
                Items = await WaybillService.GetStationCustomerWaybills(Principal, StationId, null, true, false);
            }
        }
    }
}
