@using System.Text

@page "/Modules/{id:int}/Edit"
@page "/Modules/{id:int}/Edit/{ownerid:int}"
@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer
@inject IToastService ToastService
@inject IPersonService PersonService
@inject IModuleService ModuleService
@inject IScaleService ScaleService
@inject IModuleStandardService ModuleStandardService

<h1><span class="fa fa-boxes" aria-hidden="true" /> @Heading </h1>

@if (Module is null)
{

}
else
{
<EditForm Model="Module" OnValidSubmit="OnValidSubmit" Class="row g-3">
    <FluentValidationValidator />
    <ValidationSummary />
    <AppInputSelect Width="2" Label="Scale" @bind-Value="Module.ScaleId" Items="ScaleItems" ShowPleaseSelect="true" />
    <AppInputSelect Width="2" Label="Standard" @bind-Value="Module.StandardId" Items="ModuleStandardItems" ShowPleaseSelect="true" />
    <AppInputText Width="3" Label="Name" @bind-Value="Module.FullName" />
    <AppInputText Width="1" Label="ConfigurationLabel" @bind-Value="Module.ConfigurationLabel" IsDisabled="Module.PackageLabel.HasValue()" />
    <AppInputText Width="1" Label="PackageLabel" @bind-Value="Module.PackageLabel" IsDisabled="Module.ConfigurationLabel.HasValue()" />
    <AppInputNumber Width="1" Label="FremoNumber" @bind-Value="Module.FremoNumber" />
    <AppInputNumber Width="2" Label="NumberOfSections" @bind-Value="Module.NumberOfSections" />

    <AppInputSelect Width="2" Label="FunctionalState" @bind-Value="Module.FunctionalState" Items="EnumExtensions.ModuleFunctionalStateListboxItems()" ShowPleaseSelect="true" />
    <AppInputSelect Width="2" Label="LandscapeState" @bind-Value="Module.LandscapeState" Items="EnumExtensions.ModuleLandscapeStateListboxItems()" ShowPleaseSelect="true" />
    <AppInputText Width="4" Label="ThemeNote" @bind-Value="Module.Theme" />
    <AppInputNumber Width="2" Label="RepresentsFromYear" @bind-Value="Module.RepresentsFromYear" />
    <AppInputNumber Width="2" Label="RepresentsToYear" @bind-Value="Module.RepresentsUptoYear" />

    <AppInputNumber Width="1" Label="Radius" @bind-Value="Module.Radius" Unit="mm" />
    <AppInputNumber Width="1" Label="Angle" @bind-Value="Module.Angle" Unit="°" />
    <AppInputNumber Width="2" Label="Length" @bind-Value="Module.Length" Unit="mm" Step="10" />
    <AppInputNumber Width="2" Label="MaxSpeed" @bind-Value="Module.SpeedLimit" Unit="km/h" Step="10"/>
    <AppInputNumber Width="2" Label="NumberOfThroughTracks" @bind-Value="Module.NumberOfThroughTracks" />
    <AppInputSelect Width="2" Label="SignalFeature" @bind-Value="Module.SignalFeature" Items="EnumExtensions.SignalFeatureListboxItems()" ShowPleaseSelect="false" />
    <AppInputSelect Width="2" Label="OverheadLineFeature" @bind-Value="Module.OverheadLineFeature" Items="EnumExtensions.OverheadLineFeatureListboxItems()" ShowPleaseSelect="false" />

    <AppInputCheck Width="2" Label="IsTurntable" @bind-Value="Module.IsTurntable" />
    <AppInputCheck Width="2" Label="IsDuckunder" @bind-Value="Module.IsDuckunder" />
    <AppInputCheck Width="2" Label="HasNormalGauge" @bind-Value="Module.HasNormalGauge" />
    <AppInputCheck Width="2" Label="HasNarrowGauge" @bind-Value="Module.HasNarrowGauge" />
    <AppInputCheck Width="2" Label="Is2R" @bind-Value="Module.Is2R" IsVisible="Show2RAnd3R" />
    <AppInputCheck Width="2" Label="Is3R" @bind-Value="Module.Is3R" IsVisible="Show2RAnd3R" />

    <AppInputText Width="12" Label="Note" @bind-Value="Module.Note" />

    <ModuleGablesList Module="Module" />

    <div class="col-12">
        <button type="submit" class="btn btn-primary"><span class="fa fa-save" />@Localizer["Save"]</button>
    </div>
</EditForm>

}

@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public int OwnerId { get; set; }
    ClaimsPrincipal? Principal;
    Person? Owner;
    Module? Module;
    IEnumerable<ListboxItem>? ScaleItems;
    IEnumerable<ListboxItem>? ModuleStandardItems;

    int? ScaleIdFor3R;

    protected override async Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        if (Principal is not null)
        {
            Owner = await PersonService.FindByIdAsync(Principal, OwnerId);
            ScaleItems = await ScaleService.ListboxItemsAsync(Principal);
            ScaleIdFor3R = ScaleItems.SingleOrDefault(i => i.Description.Contains("H0"))?.Id;
            ModuleStandardItems = await ModuleStandardService.ListboxItemsAsync(Principal);
            Module = Id > 0 ? await ModuleService.FindByIdAsync(Principal, Id, OwnerId) : new Module() { Is2R = true, HasNormalGauge = true, NumberOfThroughTracks = 1, Length = 1000 };
        }
    }

    private async Task OnValidSubmit()
    {
        if (Module is not null)
        {
            var result = await ModuleService.SaveAsync(Principal, Module, OwnerId);
            Module = result.Entity;
            ToastService.ShowSuccessOrFailure(Localizer, result.Count > 0, result.Message);
        }
    }

    private string Heading => Localizer.Heading(Id == 0 && OwnerId == 0, "Module", Owner);
    

    bool Show2RAnd3R => Module is not null && (ScaleIdFor3R is null || ScaleIdFor3R == Module.ScaleId);
    private string SelectScaleLabel => $"{Localizer["Select"]} {Localizer["Scale"].Value.ToLowerInvariant()}";
    private string SelectStandardLabel => $"{Localizer["Select"]} {Localizer["ModuleStandard"].Value.ToLowerInvariant()}";
}
