@page "/Meetings/{meetingid:int}/Layouts/{id:int}"

@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer
@inject IToastService ToastService

@inject MeetingService MeetingService
@inject LayoutService LayoutService
@inject GroupService GroupService
@inject ModuleStandardService ModuleStandardService
@inject OperatingDayService OperatingDayService
@inject PersonService PersonService



<PageHeading Owner="Layout" IconClass="@FontAwesome.Layout" PageAction="Id.ToAddOrEditPageAction()" HelpContext="Layout" ShowHelpInitially=true/>

@if (Layout is not null)
{
    <EditTemplate Item="Layout" OnValidSubmit="OnValidSubmit" ShowSaveButton="MayEdit">
        <Inputs>
            <AppInputSelect Width="4" @bind-Value="Layout.OrganisingGroupId" Label="ResponsibleGroup" Items="ResponsibleGroupItems" />
            <AppInputSelect Width="3" @bind-Value="Layout.PrimaryModuleStandardId" Label="PrimaryModuleStandard" Items="ModuleStandardItems" />
            <AppInputSelectNullable Width="3" @bind-Value="Layout.ContactPersonId" Label="ContactPerson" Items="ContactPersonItems" ShowNoneOption=true />
            <AppInputText Width="5" @bind-Value="Layout.Theme" Label="Theme" />
            <AppInputDate Width="2" @bind-Value="Layout.RegistrationOpeningDate" Label="RegistrationOpens" />
            <AppInputDate Width="2" @bind-Value="Layout.RegistrationClosingDate" Label="RegistrationCloses" />
            <AppInputDateNullable Width="2" @bind-Value="Layout.ModuleRegistrationClosingDate" Label="ModuleRegistrationCloses" />
            <AppInputCheck Width="3" Label="IsRegistrationPermitted" @bind-Value="Layout.IsRegistrationPermitted" AlignWithFields=true />
            <h4>@Localizer["GameSettings"]</h4>
            <AppInputNumber Width="2" @bind-Value="Layout.FirstYear" Label="FirstYear" />
            <AppInputNumber Width="2" @bind-Value="Layout.LastYear" Label="LastYear" />
            <AppInputSelectNullable Width="3" @bind-Value="Layout.StartWeekdayId" Label="StartWeekday" Items="OperatingDayItems" ShowNoneOption="true" />
            <AppInputNumber Width="2" @bind-Value="Layout.StartHour" Label="StartHour" />
            <AppInputNumber Width="2" @bind-Value="Layout.EndHour" Label="EndHour" />
            <AppInputMarkdown @bind-Value="Layout.Details" Label="Note" MaxNumberOfCharacters="@LayoutValidator.MaxNoteLength" />
        </Inputs>
        <Buttons>

        </Buttons>
    </EditTemplate>
}


@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public int MeetingId { get; set; }

    ClaimsPrincipal? Principal;
    Meeting? Meeting;
    Layout? Layout;
    IEnumerable<ListboxItem>? ResponsibleGroupItems;
    IEnumerable<ListboxItem>? ModuleStandardItems;
    IEnumerable<ListboxItem>? OperatingDayItems;
    IEnumerable<ListboxItem>? ContactPersonItems;


    bool MayEdit;

    protected override async Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        if (MeetingId > 0)
        {
            Meeting = await MeetingService.FindByIdAsync(MeetingId);
            if (Meeting is not null)
            {
                Layout = Id > 0 ? Meeting.Layouts.SingleOrDefault(l => l.Id == Id) ?? DefaultLayout(Meeting) : DefaultLayout(Meeting);
                ResponsibleGroupItems = await GroupService.ListboxItemsAsync(Principal, Meeting.OrganiserGroup?.CountryId);
                ModuleStandardItems = await ModuleStandardService.ListboxItemsAsync(Principal);
                OperatingDayItems = await OperatingDayService.BasicDaysItemsAsync();
                ContactPersonItems = await GroupService.MemberListboxItemsAsync(Principal, Layout.OrganisingGroupId);
                MayEdit = await MeetingService.IsMeetingOrganiser(Principal, Meeting);
            }
            else
            {
                ToastService.ShowNotFound<Meeting>(Localizer);
            }
        }
        else
        {
            ToastService.ShowNotFound<Meeting>(Localizer);
        }
    }



    async Task OnValidSubmit()
    {
        if (Meeting is not null && Layout is not null)
        {
            Meeting.Layouts.Add(Layout);
            var result = await LayoutService.SaveAsync(Principal, Layout);
            Layout = result.Entity;
            ContactPersonItems = await GroupService.MemberListboxItemsAsync(Principal, Meeting.OrganiserGroupId);
            ToastService.ShowSuccessOrFailure(Localizer, result.Count, result.Message);
        }
    }

    Layout DefaultLayout(Meeting meeting) => new Layout
        {
            MeetingId = MeetingId,
            OrganisingGroupId = meeting.OrganiserGroupId,
            RegistrationOpeningDate = DefaultRegistrationOpeningDate,
            RegistrationClosingDate = DefaultRegistrationClosingDate
        };
    string Heading => Meeting is null ? Localizer["Layout"].ToString() : $"{Localizer["Layout"]} {Meeting.Name} {Meeting.CityName} {Meeting.StartDate.ToString("MMMM yyyy")}";

    DateTime DefaultRegistrationOpeningDate => Meeting?.StartDate.AddMonths(-6) ?? DateTime.Today;
    DateTime DefaultRegistrationClosingDate => Meeting?.StartDate.AddMonths(-2) ?? DateTime.Today.AddMonths(2);

}