@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazored-toast-container {
    margin-top: 30px;
}

.fa {
    padding-right: 4pt;
}

.btn {
    margin-right: 5px;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 6px;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
}

h3 {
    font-size: 14pt;
    font-weight: bold;
}

h4 {
    font-size: 14pt;
    font-weight: bold;
}

.meeting {
}

    .meeting.internal {
        color: darkgray;
    }

    .meeting.approved {
        color: green;
    }

    .meeting.registrationopen {
        color: darkgreen;
        font-weight: bold;
    }

    .meeting.registrationclosed {
        color: orange;
        font-weight: bold;
    }

    .meeting.canceled {
        color: red;
        font-weight: bold;
    }
    .meeting.preliminary {
        font-style: italic;
    }

blockquote {
    padding-left: 10px;
    border-left: 3px solid red;
    color: red
}

.markdown {
    margin-top: 0.7em;
}

    .markdown h1 {
        font-size: 18pt;
    }

    .markdown h2 {
        font-size: 14pt;
        font-weight: bold;
        line-height: 14pt;
    }

    .markdown h3 {
        font-size: 12pt;
        font-weight: bold;
        line-height: 12pt;
    }

    .markdown h4 {
        font-size: 12pt;
        font-weight: normal;
        text-decoration: underline;
        line-height: 12pt;
    }

    .markdown p {
        line-height: 1.4;
        margin-top: 4pt;
        margin-bottom: 4pt;
    }

    .markdown li {
        line-height: 1.4;
    }
.quickgrid {
    --col-gap: 0.5rem;
}
.quickgrid  button {font-weight: bold}
