@page "/"
@namespace ModulesRegistry.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using System.Globalization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<App> Localizer
@{
    Layout = null;
    this.HttpContext.Response.Cookies.Append(
        CookieRequestCultureProvider.DefaultCookieName,
        CookieRequestCultureProvider.MakeCookieValue(
            new RequestCulture(
                CultureInfo.CurrentCulture,
                CultureInfo.CurrentUICulture)));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["AppName"]</title>
    <base href="~/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/fontawesome/css/all.css" rel="stylesheet">     
    <link href="css/site.css" rel="stylesheet" />
    <link href="ModulesRegistry.styles.css" rel="stylesheet" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(ModulesRegistry.App)" render-mode="ServerPrerendered" />
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
   @* <script src="https://kit.fontawesome.com/e88ec157fc.js" crossorigin="anonymous"></script>*@
</body>
</html>
