@page "/"
@inject NavigationManager Navigator
@inject IStringLocalizer<App> Localizer
@inject PageHistory PageHistory

@using System.Security.Claims

<AuthorizeView>
    <Authorized>
        <ContentView Href="https://raw.githubusercontent.com/tellurianinteractive/Tellurian.Trains.ModulesRegistryApp/master/RELEASENOTES.md"></ContentView>
    </Authorized>
    <Authorizing>
        <h1>@Localizer["Welcome"]</h1>
        @Localizer["AuthenticationInProgress"]
    </Authorizing>
    <NotAuthorized>
        <h1>@Localizer["Welcome"]</h1>
        <img style="width: 100%; padding-bottom:10px" src="images/Image1.jpg" />
        @if (Principal?.Identity?.IsAuthenticated == true)
        {
            <ContentView ContentName="HomeNoUser"></ContentView>
        }
        else
        {
            <ContentView ContentName="HomeNotAuthorized"></ContentView>
        }
        <hr/>
        <ContentView Href="https://raw.githubusercontent.com/tellurianinteractive/Tellurian.Trains.ModulesRegistryApp/master/RELEASENOTES.md"></ContentView>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private ClaimsPrincipal? Principal;

    protected async override Task OnParametersSetAsync()
    {
        Principal = await authenticationStateTask.GetClaimsPrincipalAsync();
        if (Principal.IsAuthenticated() && !Principal.IsLatestTermsOfUseAccepted())
        {
            Navigator.NavigateTo("/TermsOfUse");
        }
    }

}