@page "/"
@inject NavigationManager Navigator
@inject IStringLocalizer<App> Localizer
@inject PageHistory PageHistory

@using System.Security.Claims


<h1>@Localizer["Welcome"]</h1>
<img style="width: 100%; padding-bottom:10px" src="images/Image1.jpg" />

<AuthorizeView>
    <Authorized>
        <ContentView ContentName="HomeUser"></ContentView>
    </Authorized>
    <Authorizing>
        @Localizer["AuthenticationInProgress"]
    </Authorizing>
    <NotAuthorized>
        @if (Principal?.Identity?.IsAuthenticated == true)
        {
            <ContentView ContentName="HomeNoUser"></ContentView>
        }
        else
        {
            <ContentView ContentName="HomeNotAuthorized"></ContentView>
        }
    </NotAuthorized>
</AuthorizeView>
<hr />
<div>
    <span class="fa fa-external-link-alt" />
    <a target="_blank" href="https://github.com/tellurianinteractive/Tellurian.Trains.ModulesRegistryApp/blob/master/RELEASENOTES.md">Release notes</a>
</div>

@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private ClaimsPrincipal? Principal;

    protected async override Task OnParametersSetAsync()
    {
        Principal = await authenticationStateTask.GetClaimsPrincipalAsync();
        if (Principal.IsAuthenticated() && !Principal.IsLatestTermsOfUseAccepted())
        {
            Navigator.NavigateTo("/TermsOfUse");
        }
    }

}