@page "/TermsOfUse"
@inject NavigationManager Navigator
@inject IStringLocalizer<App> Localizer
@inject IUserService UserService

<h1><span class="fa fa-file-signature"/>@Localizer["TermsOfUse"]</h1>
<AuthorizeView>
    <Authorized>
        @if (!Principal.IsLatestTermsOfUseAccepted())
        {
        <div class="alert alert-warning">
            @Localizer["PleaseReadAndAccept"]
        </div>
        }
    </Authorized>
</AuthorizeView>
<ContentView ContentName="TermsOfUse" ShowModificationTime="true" />
<AuthorizeView>
    <Authorized>
        <div class="col-12">
            <button class="btn btn-primary" @onclick="OnAccept">@Localizer["Accept"]</button>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private ClaimsPrincipal? Principal;

    protected async override Task OnParametersSetAsync()
    {
        Principal = await authenticationStateTask.GetClaimsPrincipalAsync();
    }

    private async Task OnAccept()
    {
        var result = await UserService.AcceptTermsOfUse(Principal.ObjectId());
        if (result is not null)
        {
            Navigator.NavigateTo(Navigator.BaseUri, true);
        }
    }

}
