@page "/wagonerrorcards"
@layout PrintLayout

<div class="pagebreak">
    <WagonErrorCard />
    <WagonErrorCard />
    <WagonErrorCard />
    <WagonErrorCard />
    <WagonErrorCard />
    <WagonErrorCard />
    <WagonErrorCard />
    <WagonErrorCard />
    <WagonErrorCard />
    <WagonErrorCard />

</div>

@code {

}
