@inherits LayoutComponentBase
@inject IStringLocalizer<App> Localizer
@using System.Web;

@*<BlazoredToasts RemoveToastsOnNavigation="true"
                Timeout="3"
                IconType="IconType.FontAwesome"
                InfoIcon="fa fa-info-circle"
                SuccessIcon="fa fa-check-circle"
                WarningIcon="fa fa-exclamation-triangle"
                ErrorIcon="fa fa-exclamation-circle" />*@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4 auth">
            <LoginControl />
            <NavLink class="nav-link" href="TermsOfUse">
                @Localizer["TermsOfUse"]
            </NavLink>
            <NavLink class="nav-link" href="Contact">
                @Localizer["Contact"]
            </NavLink>
            <NavLink class="nav-link" href="About">
                @Localizer["About"]
            </NavLink>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
