@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject IStringLocalizer<App> Localizer
@using System.Web;

<BlazoredToasts RemoveToastsOnNavigation="true"
                Timeout="2"
                IconType="IconType.FontAwesome"
                InfoIcon="fa fa-info-circle"
                SuccessIcon="fa fa-check-circle"
                WarningIcon="fa fa-exclamation-triangle"
                ErrorIcon="fa fa-exclamation-circle"
                Position="Blazored.Toast.Configuration.ToastPosition.TopRight" />

<div class="page">
    <div class="sidebar">
        <div class="noprint">
            <NavMenu />
        </div>
    </div>
    <div class="main">
        <div class="noprint">
            <div class="top-row px-4 auth">
                <LoginControl />
                <a class="nav-link" href="TermsOfUse">
                    @Localizer["TermsOfUse"]
                </a>
                <a class="nav-link" href="Contact">
                    @Localizer["Contact"]
                </a>
                <a class="nav-link" href="About">
                    @Localizer["About"]
                </a>
            </div>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
