@page "/Groups/{id:int}/Modules"

@inject IStringLocalizer<App> Localizer

@inject ModuleService ModuleService
@inject GroupService GroupService 

<h1><span class="fa fa-boxes"/> @Localizer.ObjectOwner("Modules", Owner)</h1>
<ModulesList Modules="OwnedModules" Principal="Principal" MayEdit="MayEdit" OwningGroupId="Id"  />

@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }

    ClaimsPrincipal? Principal;
    IEnumerable<Module>? OwnedModules;
    Group? Owner;
    bool IsGroupDataAdministrator;

    protected async override Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        Owner = await GroupService.FindByIdAsync(Principal, Id);
        IsGroupDataAdministrator = await GroupService.IsGroupDataAdministratorAsync(Principal, Id, Owner?.CountryId);
        OwnedModules = await ModuleService.GetAllAsync(Principal, OwnerRef);
    }

    bool MayEdit => IsGroupDataAdministrator;
    ModuleOwnershipRef OwnerRef => ModuleOwnershipRef.Group(Id);
}
