@page "/Groups/{id:int}/Stations"

@inject IStringLocalizer<App> Localizer

@inject StationService StationService
@inject GroupService GroupService

<h1><span class="fa fa-boxes" /> @Localizer.ObjectOwnerByOwner("Stations", Owner)</h1>
<StationsList Stations="OwnedStations" MayEdit="MayEdit" OwningGroupId="Id" />

@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }

    ClaimsPrincipal? Principal;
    IEnumerable<Station>? OwnedStations;
    Group? Owner;
    bool IsGroupDataAdministrator;

    protected async override Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        Owner = await GroupService.FindByIdAsync(Principal, Id);
        IsGroupDataAdministrator = await GroupService.IsGroupDataAdministratorAsync(Principal, Id);
        OwnedStations = await StationService.GetAllAsync(Principal, OwnerRef);
    }

    bool MayEdit => IsGroupDataAdministrator;
    ModuleOwnershipRef OwnerRef => ModuleOwnershipRef.Group(Id);
}
