@page "/Persons/{id:int}/Stations"

@inject IStringLocalizer<App> Localizer
@inject IPersonService PersonService
@inject IStationService StationService

<h1><span class="fa fa-school" /> @Heading</h1>

<StationsList Stations="OwnedStations" OwningPersonId="OwningPersonId" MayEdit="MayEdit" />

@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }
    private ClaimsPrincipal? Principal;
    private Person? Owner;
    private IEnumerable<Station>? OwnedStations;

    protected async override Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        Owner = await PersonService.FindByIdAsync(Principal, Id);
        OwnedStations = Owner is null ? Array.Empty<Station>() : await StationService.GetAllAsync(Principal, Owner.Id);
    }

    private int OwningPersonId => Owner?.Id ?? 0;
    private string Heading => Localizer.HeadingWithOwner("Stations", Owner);
    private bool MayEdit => Principal.MaySave(OwningPersonId);

}
